div #region-main #Header {
	margin: 0px;
	padding: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	z-index: 2;
	float: none;
	height: auto;
	visibility: visible;
	display: block;
	height:119px;
	
}
div #region-main #HeaderLeft {
	background-image: url([[pix:theme|HeaderLeft]]);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 119px;
	width: 356px;
	position: relative;
	left: 0px;
	z-index: 10;
	top: -94px;
	visibility: visible;
	float: left;
}
div #region-main #HeaderStretch {	
	background-repeat: no-repeat;
	background-position: right top;
	height: 95px;
	width: 100%;
	z-index: 2;
	margin: 0px;
	left: 0px;
	position: relative;
	background-image: url([[pix:theme|HeaderBG]]);
	background-color: #41537E;
	float: left;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
div #region-main #HeaderRight {
		background-repeat: no-repeat;
	background-position: right top;
	height: 119px;
	width: 189px;
	z-index: 4;
	float: right;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	right: 0px;
	visibility: visible;
	display: none;
	
}
div #region-main .BannerTitle {
	position: absolute;
	right: 10px;
	bottom: 0px;
}
div #region-main h1,  div #region-main #Announcements, div #region-main .announcement {
	background-color: #C4CCDF;
	color: #F0F;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #2C5882;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
}

#Announcements h1, .announcement h1 {
	border:none;
	background-image: none;
	border:none;
	padding: 4px 20px 4px 0px;
}
#Announcements h1:first-child, .announcement h1:first-child {
	padding: 4px 20px 4px 40px;
	
	background-repeat: no-repeat;
	background-position: left center;	
	margin: 0px;
	vertical-align: middle;
}

	
#region-main h2 {
	font-family: verdana, san-serif, serif;
	font-size: 16px; 
	color: black; 
	background: none transparent; 
	margin-bottom: 0;
	margin-top: .5em;
	display: block;
}

#region-main h3 {
	
	font-weight: bold;
	font-family: verdana, san-serif, serif;
	margin: .5em 0 0;
	color: #4b4340;
	display: block;
}
#region-main h4 {
	/*font-size: 14px;*/
	font-style: italic;
	font-weight: bold;
	color: #2D5884;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0;
}
#region-main b, #region-main strong {
	font-weight: bold;
	color: #336699;
}

/*Collapsible panel*/
div #region-main #section-1 .the_toggle, div #region-main #section-2 .the_toggle, div #region-main #section-3 .the_toggle, div #region-main #section-4 .the_toggle, div #region-main #section-5 .the_toggle,div #region-main #section-6 .the_toggle, div #region-main #section-7 .the_toggle, div #region-main #section-8 .the_toggle, div #region-main #section-9 .the_toggle, div #region-main #section-10 .the_toggle, div #region-main #section-11 .the_toggle, div #region-main #section-12 .the_toggle, div #region-main #section-13 .the_toggle, div #region-main #section-14 .the_toggle, div #region-main #section-15 .the_toggle {
	background-color: #445680;
	border: 1px outset #32405F;
	
}
div #region-main #section-1 .the_toggle h3, div #region-main #section-2 .the_toggle h3, div #region-main #section-3 .the_toggle h3, div #region-main #section-4 .the_toggle h3, div #region-main #section-5 .the_toggle h3,div #region-main #section-6 .the_toggle h3, div #region-main #section-7 .the_toggle h3, div #region-main #section-8 .the_toggle h3, div #region-main #section-9 .the_toggle h3, div #region-main #section-10 .the_toggle h3, div #region-main #section-11 .the_toggle h3, div #region-main #section-12 .the_toggle h3, div #region-main #section-13 .the_toggle h3, div #region-main #section-14 .the_toggle h3, div #region-main #section-15 .the_toggle h3 {
	color: #FFF;
	
	font-family: Verdana, Geneva, sans-serif;
}
.biggertext { font-size: 14px; background: transparent; 
	}
.biggertext-bold { font-size: 14px; background: transparent; 
	font-weight: bold; 
	}
.bgtext-bold-ital { font-size: 14px; background: transparent; 
	font-weight: bold; 
	font-style: italic;   
	}
.smallertext { font-size: 10px; background: transparent; 
	}
.nobullet { list-style: none; /* turns off bullets */ 
	}

.pullquote-left { 
	float: left; 
	width: 300px; 
	margin-top: 8px;
	border-style: solid; 
	border-color: rgb(51, 102, 153); 
	border-width: 7px 0px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-left: 10px; 
	margin-right: 10px;
	color: rgb(51, 102, 153); 
	font-weight: bold; 
	font-size: .9em;  
	text-align: left;
} 

.pullquote-rt-wide { 
	float: right; 
	width: 300px; 
	margin-top: 8px;
	border-style: solid; 
	border-color: rgb(51, 102, 153); 
	border-width: 7px 0px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-left: 10px; 
	margin-right: 10px;
	color: rgb(51, 102, 153); 
	font-weight: bold; 
	font-size: .9em;  
	text-align: left;
} 

#region-main #Goals, #region-main div.Goals {
	background-color: #E3E0DF;
	text-align: left;
	padding: 10px 7px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 5px outset #4B4340;
	
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	/*margin-top: 20px;
	margin-right: 0px;
	margin-left: 0px;*/
	
}
#region-main .GoalsAndObjectives {
	font-size: 1.2em;
	font-weight: bold;
	color: #4b4340;
	font-style: italic;
	margin-bottom:0;
}
#region-main .GoalsAndObjectives + ol, #region-main .GoalsAndObjectives + ul {
	margin-top: 0px;
}

.Credit {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	color: #39689C;
	text-align: right;
}
#region-main .Note {
	font-size: 12px;
	font-weight: normal;
	color: #4A423F;
}
#region-main .Notes {
	color: #FF0000;
	font-weight: bold;
}


#page-mod-lesson-view .branchbuttoncontainer {
	clear:both;

}
#ImageWCaption {
	margin-right: 10px;
	margin-left: 0px;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #B4A0A3;
	float: left;
	display: block;
	width: auto;
}


.SixtyPercent {
	display: inline;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 60%;
}
.ThirtyPercent {
	display: inline;
	float: left;
	width: 32%;
}
.FiftyPercent {
	width: 50%;
}
.HundredPercent {
	width: 100%;
}

#region-main .Highlight {
	margin-right: 10%;
	margin-left: 10%;
	border: 1px none;
	background-color: #445680;
	color:#FFF;
}


#page-mod-lesson-view table {
	padding: 2px;
	border: 3px outset #B4A0A3;
	display: block;
	margin-bottom: 10px;
	margin-right: 10%;
	margin-left: 10%;
	background-color: #FFF7F8;
}
.TableHead {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #445680;
	border: 2px solid #000000;
	font-size: 16px;
	vertical-align: middle;
}
.TableSubHead {
	font-weight: bold;
	color: #000000;
	background-color: #A3ACBF;
	border: 2px solid #000000;
	font-size: 16px;
	vertical-align: middle;
}
#page-mod-lesson-view td {
	padding: 5px;
	border: 1px solid #000000;
	vertical-align: top;
	
}
table#Courts {
	border:1px;
}
table#Courts td {
	text-align:center;
	border: 1px;
	cell-padding:4px;
}
table#Courts td.Major {
	color: #FFFFFF;
	font-weight:bold;
}